!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %title Sample css anime
    %link{ rel: 'stylesheet', type: 'text/css', href: '/stylesheets/main.css' }
    %script{ type: 'text/javascript', src: '/javascripts/lib/jquery-1.8.3.min.js' }
    %script{ type: 'text/javascript', src: '/javascripts/main.js' }
  %body
    %h1 Sample css anime
    = yield
