@import 'mixins';

$blue: #009EDE;
$height: 35px;

@mixin box-size {
  width: 80px;
  height: $height;
}

@mixin box {
  @include box-size;
  @include border-radius(2px);
  position: absolute;
  line-height: $height;
  text-align: center;
}

.box-container {
  @include box-size;
  @include border-radius(3px);
  position: relative;
  cursor: pointer;
  background: #eee;
  border: 1px solid #ddd;

  &:hover {
    .box-off {
      color: $blue;
    }
  }

  &.rotated {
    border: 1px solid $blue;
    .box-off {
      @include transform(rotateX(180deg));
      z-index: 0;
      opacity: 0;
    }
    .box-on {
      @include transform(rotateX(0deg));
      z-index: 1;
      opacity: 1;
    }
    &.acted {
      .box-off {
        @include transform(rotateX(-180deg));
      }
    }
  }
}

.box-off {
  @include box;
  z-index: 1;
  background: #fff;
  color: #9f9f9f;
}

.box-on {
  @include box;
  @include transform(rotateX(180deg));
  z-index: 0;
  opacity: 0;
  background: $blue;
  color: #fff;
}

.box-container, .box-off, .box-on {
  @include perspective(175);
  @include transform-style(preserve-3d);
  @include transition(600);
}
