@mixin transform-style($v) {
  -webkit-transform-style: $v;
  -moz-transform-style: $v;
  -o-transform-style: $v;
  -ms-transform-style: $v;
  transform-style: $v;
}

@mixin transition($v) {
  -webkit-transition: z-index #{ $v }ms ease, -webkit-transform #{ $v }ms ease, opacity #{ $v / 2 }ms ease, border #{ $v }ms ease;
  -moz-transition: z-index #{ $v }ms ease, -moz-transform #{ $v }ms ease, opacity #{ $v / 2 }ms ease, border #{ $v }ms ease;
  -o-transition: z-index #{ $v }ms ease, -o-transform #{ $v }ms ease, opacity #{ $v / 2 }ms ease, border #{ $v }ms ease;
  -ms-transition: z-index #{ $v }ms ease, -ms-transform #{ $v }ms ease, opacity #{ $v / 2 }ms ease, border #{ $v }ms ease;
  transition: z-index #{ $v }ms ease, transform #{ $v }ms ease, opacity #{ $v / 2 }ms ease, border #{ $v }ms ease;
}

@mixin transform($v) {
  -webkit-transform: $v;
  -moz-transform: $v;
  -o-transform: $v;
  -ms-transform: $v;
  transform: $v;
}

@mixin perspective($v) {
  perspective: #{ $v }px;
  -webkit-perspective: $v;
  -moz-perspective: #{ $v }px;
  -o-perspective: $v;
  -ms-perspective: $v;
}

@mixin border-radius($v) {
  -webkit-border-radius: $v;
  -moz-border-radius: $v;
  -o-border-radius: $v;
  -ms-border-radius: $v;
  border-radius: $v;
}

